@model IEnumerable<SiteMVC.Models.ClienteViewModel>

@{
    ViewBag.Title = "Lista de Clientes";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("Novo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            CPF
        </th>
        <th>
            NOME
        </th>
        <th>
            RG
        </th>
        <th>
            DATA NASC.
        </th>
        <th>
            SEXO
        </th>
        <th>
            ESTADO CIVIL
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.ActionLink("Visualizar", "Details", new { id = item.ClienteId }) |
            @Html.ActionLink("Editar", "Edit", new { id = item.ClienteId }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.ClienteId }, new { onclick = "return confirm('Deseja realmente excluir esse cliente?');" })
        </td>
    </tr>
}

</table>
